#title{
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 72px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 0;
}
body{
	background-color: #FF8C00;
}
#div1{
	border: 2px #FFE4C4 ridge;
	margin: 0 130px;
	padding: 3px;
	height: 32px;
	background-color: orange;
}
h3{
	text-decoration: underline;
	font-style: italic;
	margin-bottom: 10px;
	text-transform: capitalize;
	text-indent: 40px;
}
.firstClass{
	 color: #685206;
	 font-family: 'Helvetica Neue', sans-serif;
	 font-size: 14px;
	 line-height: 24px;
	 margin: 0 0 24px;
	 text-align: justify;
	 text-justify: inter-word; 
}
p:first-child{
	text-indent: 45px;
}
.firstClass > span > i{
	font-size: 30px;
	color: blue;
	margin-left: 0;	
}
.secondClass{
	color: #f2f2f2;
	background: #ff4a4a;
	font-size: 75px;
	line-height: 74px;
	font-weight: 700;
	margin: 0 5px 24px;
	float: left;
	padding: 10px;
	margin: 0 5px 24px;
	font-family: 'Libre Baskerville', serif;
}
.footer{
	text-align:center;
	background-color: black;
	width: 98%;
	margin: 0 5px;
	color: white;
	padding: 10px;
}
p.footer > b > span{
	color:red;
}
#piFrame{
	text-align: justify;
	font-family: times new roman;
	font-style: italic;
	color: gray;
	padding: 10px;
}
#aiFrame:link, visited{
	color: white;
	background-color: magenta;
	text-align: center;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
	margin-bottom: 3px;
	border-radius: 20px;
}
#aiFrame:hover, active{
	background-color: red;
}
#frame{
	display: block;
	margin-left: auto;
	margin-right: auto; 
	display: none;
}
#descriptionList{
	background: transparent;
  	padding: 5px;
  	margin-left: 35px;  		
}
#spanLists{
	color: #685206;
	font-family: 'Georgia', sans-serif;
	letter-spacing: 2px;
}
#divSorted{
	padding-left: 20px;
}
.spanDivList{
	text-decoration: underline;
	background-color: yellow;	
}
.List{
	color: white;
}
#descriptionList > li{
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
}
#divUnsorted{
	padding-left: 20px;
}
.bullet{	
	list-style-type: disc;
}
.circle{	
	list-style-type: circle;
}
.square{	
	list-style-type: square;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;  
  border-bottom: 1px solid #ddd;
}
tbody{
	color: white;
	text-align: center;
}
tr:nth-child(even){
	background-color: grey;
}
td:hover{
	background-color: purple;
}
thead{
	text-align: left;
	background-color: blue;
}