#htmlbody{
	background-color: #7FFFD4;
}
h2{
	font-size: 4vw;
	font-family: Brush Script MT, cursive;	
	color: #ff0000;
	border-style: inset;
	width: 30vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: static;
	background-color: #fbff00;
}
div.math > code{
	font-size: 1.5vw;
}
div.math{
	margin-left: 3vw;
}
div.math > p::first-line{
	text-decoration: underline;
	text-transform: capitalize;
	font-style: italic;
	font-weight: bold;
}
div.math > p > span{
	background-color: yellow;
	text-transform: uppercase;
	margin-left: 2vw;
}
hr{
	border: 1px solid blue;
}
p{
	letter-spacing: 3px;
}
div.dancila > p > q{
	background-color: red;
}
div.dancila > p > q > var{
	background-color: black;
	color: white;
}
#horizontaldelimitation{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.footer{
	text-align:center;
	background-color: black;	
	margin: 0 5px;
	color: white;
	padding: 10px;
}
p.footer > b > span{
	color:red;
}
/*css for tema 6 css*/
#cssbody{
	background-color: #e3f2fd;
}
#helloworld{
	margin-left: 1.5vw;
	font-family: times new roman;
}
#content{
	text-indent: 2vw;
	max-width: 60vw;
  	margin: auto;
  	padding: 5px;
  	border: 3px solid #73AD21;
}
#content > p{
	font-family: georgia;
	color: green;
}
#static{
position: static;
border: 3px solid #73AD21;
}
#static > p{
	font-family: georgia;
	color: grey;
}
#relative{
position: relative;
width: 700px;
height: 430px;
left: 4vw;
border: 3px solid #73AD21;
}
#relative > p{
	font-family: georgia;
	color: grey;	
}
#absolute {
  position: absolute;
  top: 230px;
  right: 0;
  width: 500px;
  height: 120px;
  border: 3px solid blue;
  overflow-y: auto;
  overflow-x: hidden;
}
#absolute > p{
	font-family: georgia;
	color: grey;	
}
#absolute > h4{
	margin-top: 0;
}
#fixed{
position: fixed;
bottom: 0;
right: 0;
width: 70vw;
border: 3px solid #73AD21;
}
#fixed > p{
	font-family: georgia;
	color: grey;
	clear: left;
}
#fixed > p > img{
	float: right;
	width: 15%;
}
#fixed > img{
	float: left;	
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #cae8ca;
  border: 1px solid #4CAF50;
}
#sticky > p{
	font-family: georgia;
	color: grey;	
}
#scrollposition{
	padding-bottom:2000px;
}
#scrollposition > p{
	font-family: georgia;
	color: grey;
	padding: 10px;	
}
#mbike{
	position: absolute;
  	left: 0px;
  	top: 0px;
  	z-index: -1;
}
/*tema6 javaScript css*/
#bike{
	width: 30%;
}