#html-body{
	background-color: #7FFFD4;
}
#video-content{
	text-align: center;	
	margin: 0;
}
#video-content video{
	border: 1px green solid;
	margin-top: 0;
	margin-bottom: 0;
}
#video-content h2{
	width: 520px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
	color: white;
	padding: 2px;
	margin-bottom: 0;
}
footer{
	position: absolute;
	bottom: 0;
	width: 99%;
}
footer > p {
	text-align: center;
	background-color: black;	
	color: white;
	padding: 10px;
}
footer > p > b > span{
	color: red;
}