#form_body{
	background-color: #6495ED;
}
#form{
	margin-left: 20px;
	margin-top: 20px;
}
.labels{
	color: #FFA500;
	margin-top: 3px;
}
.elements_forms{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #6495ED;
	color: white;
}
.elements_forms:focus{
	background-color: yellow;
}
#reset_button{
	display: none;
}
#select{
	margin-top: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #6495ED;
	color: white;
}
.fieldset{
	width: 50%;
	padding: 20px;
	border: solid 1px red;
	margin: auto;
}
img:hover{
	box-shadow: 5px 5px 5px grey;
	cursor: pointer;
	opacity: 1;
}
.submit:hover{
	box-shadow: 5px 5px 5px grey;
	opacity: 1;
}
.submit, img {
	opacity: 0.6;
}
::selection {
  color: red;
  background: yellow;
}
.label{
	font-style: italic;
	font-weight: bold;
}
#popBob{
	display: none;
}
#popMike{
	display: none;
}
#popJhon{
	display: none;
}